.brand{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: -1rem;

  div{
    //flex: 1;
    //min-width: 150px;
    //min-width: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    img{
      height: 24px;
    }
  }
}