.cta {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;

  background: linear-gradient(
    89.97deg,
    #ae67fa 1.84%,
    #f49867 102.67%
  );
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.7236px;

  .cta__content {
    p {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 30px;
      color: #0e0e0e;
    }

    h2 {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 45px;
      color: #000000;
    }
  }

  .cta__button {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      color: #ffffff;
      background: #000000;
      border-radius: 40px;
      border: none;
      outline: none;
      padding: 0.7rem 2rem;
      cursor: ponter;
    }
  }
}

@media screen and (max-width: 650px) {
  .gpt3__cta {
    flex-direction: column;
  }

  .gpt3__cta-btn {
    margin: 2rem 0 0;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__cta {
    flex-direction: column;
    margin: 4rem 2rem;
  }

  .gpt3__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
  }

  .gpt3__cta-btn button {
    font-size: 14px;
    line-height: 28px;
  }
}
