.whatIsGPT3 {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  background: var(--color-footer);
  //background: #042c54;
  position: relative;

  &::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(
      circle at 10% 0%,
      #1b78de 0%,
      #042c54 25%
    );
    z-index: -1;
  }

  &::after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      circle at 100% 100%,
      #1b78de 0%,
      #042c54 30%
    );
    z-index: -1;
  }

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.whatIsGPT3__featureContainer {
  width: 100%;

  .feature {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
    width: 100%;

    .feature__title {
      flex: 0.3;
    }

    .feature__text {
      flex: 0.7;
      max-width: 900px;

      p {
        margin-top: 0;
      }
    }
  }
}

.whatIsGPT3__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin: 4rem 0 2rem;

  h1 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    width: 22ch;
  }

  p {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
  }
}

.feature__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;

  .feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
  }

  .feature__title {
    font-size: 1rem;
    color: #fff;
  }

  .feature__text {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 850px) {
  .whatIsGPT3__heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;

    p {
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 650px) {
  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-feature .gpt3__features-container__feature {
    flex-direction: column;
  }

  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-feature .gpt3__features-container_feature-text {
    margin-top: 0.5rem;
  }

  .gpt3__whatgpt3-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-container .gpt3__features-container__feature {
    margin: 1rem 0;
    min-width: 100%;
  }
}
