.features__section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  position: relative;

  &:before {
    content: "";
    height: 1800px;
    width: 1000px;
    position: absolute;
    left: 0;
    background: radial-gradient(
      circle at 0% 45%,
      #002853 0%,
      #040c18 60%
    );
    z-index: -1;
  }

  .features__heading {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 500px;
    gap: 2rem;

    h2 {
      font-size: 48px;
      line-height: 60px;
      font-weight: 800;
      width: 17ch;  
    }

    p {
      color: rgb(255, 138, 113);
      cursor: pointer;
    }
  }

  .features__container {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    height: 480px;

    .feature {
      gap: 3rem;

      .feature__title {
        flex: 0.3;
        margin: 0;

        h3 {
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
          color: #ccc;
        }
      }

      .feature__text {
        flex: 0.7;

        p {
          font-size:15px;
          line-height: 30px;
          margin-top: 0;
          color: rgba(129, 175, 221, 0.64);
          margin-top: .4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .features {
    flex-direction: column;
  }

  .features__heading {
    margin: 0 0 2rem 0;
  }
}

@media screen and (max-width: 550px) {
  .features__heading h1 {
    font-size: 28px;
    line-height: 38px;
  }
}
