.possibility {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;

  .possibility__image {
    flex: 0.5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .possibility__content {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 31px;
    height: 100%;
    width: 100%;

    h4 {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 490;
      font-size: 14px;
      line-height: 24px;
      color: #71e5ff;
      cursor: pointer;
    }

    h2 {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 60px;
      //width: 12ch;
    }

    p {
      font-family: "Manrope";
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: #81afdd;
    }

    h4:last-child {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #ff8a71;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 950px) {
  .gpt3__possibility {
    flex-direction: column;
  }

  .gpt3__possibility-image {
    margin: 1rem 0;
  }

  .gpt3__possibility-image img {
    width: unset;
    height: unset;
  }

  .gpt3__possibility-content {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .gpt3__possibility-image img {
    width: 100%;
    height: 100%;
  }
}
