@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(
    89.97deg,
    #ae67fa 1.84%,
    #f49867 102.67%
  );
  --gradient-bar: linear-gradient(
    103.22deg,
    #ae67fa -13.86%,
    #f49867 99.55%
  );

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  font-family: var(--font-family);
}

a {
  color: unset;
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 48px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/*h1{
  all: unset;
}*/

.gradient__bg {
  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 5% 1%,
    #002853 0%,
    #040c18 50%
  );
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

/* Grow animation */
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* for tablets and mid sized phones */
@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

/* mobile media queries */
@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}
